<div class="col s6 m3">
  <div class="card">
    <div class="card-image">
      <img *ngIf='(activity.image !== undefined) else defaultImage' class="activator" [src]="activity.image" />
      <ng-template #defaultImage>
        <img class="activator" src="../../assets/placeholder.png" />
      </ng-template>
      <span class="date btn-floating btn-large halfway-fab waves-effect waves-light blue">
        {{activity.dateShort}}
      </span>
    </div>
    <div class="card-content">
      <span class="card-title activator">{{activity.title}}</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{activity.title}}
        <i class="material-icons right">close</i>
      </span>
      <p>{{activity.description}}</p>
      <button (click)="showDetailDialog()" type="submit" class="waves-effect waves-light btn">Details</button>
    </div>
  </div>
</div>
