<div id="row">
  <nav class="nav-wrapper blue lighten">
    <h1 mat-dialog-title>{{activity.title}}</h1>
  </nav>
  <mat-dialog-content>
    <table class="striped">
      <tr>
        <th>Omschrijving</th>
        <td>{{activity.description}}</td>
      </tr>
      <tr>
        <th>Datum</th>
        <td>{{activity.dateLong}}</td>
      </tr>
      <tr>
        <th>Tijd</th>
        <td>{{activity.time}}</td>
      </tr>
      <tr>
        <th>Gegeven door</th>
        <td>{{activity.organisedBy}}</td>
      </tr>
      <tr>
        <th>Locatie</th>
        <td>{{activity.location}}</td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <a class="waves-effect waves-light btn red">Aanwezig</a>
    <a (click)="close()" class="waves-effect waves-light btn red">Sluiten</a>
  </mat-dialog-actions>
</div>
