<nav class="blue lighten-1">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">KLJ Mobile</a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="#" (click)="openDialog()" class="material-icons" id="add-activity">add</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <app-activity-list></app-activity-list>
</div>
<footer class="page-footer blue lighten-1">
  <div class="footer-copyright">
    <div class="container">
      <a href="http://nico.levls.be">&copy; 2017 Nicolas Loots</a>
    </div>
  </div>
</footer>
