<div class="row">
  <form (ngSubmit)='onSubmit()' class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate">
        <label for="title">Titel</label>
      </div>
      <div class="input-field col s12">
        <textarea id="description" type="text" class="materialize-textarea"></textarea>
        <label for="description ">Beschrijving</label>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Aanmaken</button>
    </div>
  </form>
</div>
